html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "ds-endendend", sans-serif;
    color: #333;
    background-color: #FCFFFF;
    
    overflow-x: hidden;
    margin: 0;
}


.header {
    position: fixed;
    
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px;
    box-sizing: border-box;
    z-index: 10;
}

.logo-top a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.logo-top img {
    display: block;
    height: 35px;
    width: auto;
}

.nav-menu {
    display: flex;
    gap: 60px;
    flex-shrink: 0;
}

.nav-item {
    text-decoration: none;
    color: #1A2223;
    
    font-family: "abhaya-libre", sans-serif;
    font-weight: 700;
    font-style: normal;    
    font-size: 20px;
    
    transition: opacity 0.3s ease;
}

.nav-item:hover {
    opacity: 0.5;
}



.hero-container {
    position: relative;
    
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    
    padding: 100px;
    margin: 0 0 200px 0;

    user-select: none;
    overflow: hidden;
}

.background-graphics {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bg-large-logo {
    position: absolute;
    right: calc((-55 / 1728) * 100vw);
    bottom: calc((100 / 1080) * 100vh);
    width: calc((865 / 1728) * 100vw);
}

.bg-large-logo img {
    width: 100%;
    height: auto;
    display: block;
}

.hand-left {
    position: absolute;
    
    top: calc((270 / 1728) * 100vw);
    left: calc((-105/ 1728) * 100vw);
    width: calc((965 / 1728) * 100vw);
    max-width: 1447.5px;
}

.hand-right {
    position: absolute;
    
    top: calc((90 / 1728) * 100vw);
    right: calc((-200/ 1728) * 100vw);
    width: calc((1060 / 1728) * 100vw);
    max-width: 1590px;
}

.hand-image img {
    width: 100%;
    height: auto;
    transform: rotate(-9deg);
}

.content-box {
    position: absolute;
    z-index: 2;
    bottom: calc((150 / 1080) * 100vh);
    left: calc((100 / 1728) * 100vw);
}

.main-title {    
    font-size: clamp(14px, calc((25 / 1728) * 100vw), 25px);
    font-weight: 500;
    font-style: normal;
    color: #566365;
    
    margin: 0 0 calc((20 / 1080) * 100vh) 0;
}

.sub-description {
    font-size: clamp(12px, calc((16 / 1728) * 100vw), 16px);   
    font-weight: 100;
    font-style: normal;
    line-height: 2;
    color: #566365;
    
    margin: 0;
}




.profile-container {
    position: relative;
    
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
    padding: 100px;
    margin: 0 0 200px 0;
    
    user-select: none;
}

.profile-content {
    position: absolute;
    
    bottom: calc((200 / 1728) * 100vw);
    left: calc((100 / 1728) * 100vw);

    flex: 1;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.profile-title {
    font-family: "abhaya-libre", sans-serif;
    font-size: calc((64 / 1728) * 100vw);
    font-weight: 700;
    font-style: normal;
    line-height: 0.9;
    
    color: #1A2223;
    margin-bottom: calc((15 / 1728) * 100vw);
}

.roulette-wrapper {
    display: inline-flex;
    align-items: center;
    gap: calc((30 / 1728) * 100vw);
    margin-bottom: calc((30 / 1728) * 100vw);
}

.bracket {
    font-family: "abhaya-libre", sans-serif;
    font-size: calc((128 / 1728) * 100vw);
    font-weight: 700;
    line-height: 0;
    
    color: #1A2223;
}

.roulette-window {
    display: inline-block;
    height: calc((130 / 1080) * 100vh); 
    overflow: hidden;
    position: relative;
    min-width: calc((555 / 1728) * 100vw); 
}

.roulette-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1); 
    transform: translateY(0px);
}

.roulette-item {
    font-family: "abhaya-libre", sans-serif;
    font-size: calc((128 / 1728) * 100vw);
    font-weight: 700;
    color: #8DB7BD;
    height: calc((140 / 1080) * 100vh);
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.profile-description {
    font-size: calc((15 / 1728) * 100vw);
    font-weight: 300;
    font-style: normal;
    
    line-height: 2;
    color: #566365;
    max-width: calc((700 / 1728) * 100vw);
    margin: 0;

    text-align: justify;
    text-justify: inter-word;
}

.profile-shadow {
    position: absolute;
    
    bottom: calc((70 / 1728) * 100vw);
    right: calc((100 / 1728) * 100vw);
    width: calc((560 / 1728) * 100vw);
    max-width: 560px;
    
    height: auto;
    z-index: 1;
    pointer-events: none;
}

.profile-img {
    position: absolute;
    
    bottom: calc((85 / 1728) * 100vw);
    right: calc((185 / 1728) * 100vw);
    width: calc((530 / 1728) * 100vw);
    max-width: 530px;
    
    height: auto;
    display: block;
    z-index: 2;
    pointer-events: none;
}




.overview-container {
    display: flex;
    justify-content: space-between;
    gap: calc((60 / 1728) * 100vw);
    padding: 100px;
    margin: 0 0 200px 0;

    pointer-events: none;
}

.project-card {
    flex: 1;
    position: relative;
    height: calc((659 / 1728) * 100vw);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;

    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2));
    z-index: 1;

    pointer-events: auto;

    transition: opacity 0.4s ease, filter 0.4s ease, transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.card-bg {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-size: cover; background-position: center;
}

.card-content {
    position: absolute;
    top: calc((50 / 1728) * 100vw);
    left: calc((40 / 1728) * 100vw);
    
    z-index: 3;
    transition: transform 0.5s ease;

    max-width: calc((384 / 1728) * 100vw);
}

.card-title {
    font-family: "abhaya-libre", sans-serif;
    font-size: calc((64 / 1728) * 100vw);
    font-weight: 700;
    color: #FCFFFF;
    margin: 0 0 calc((60 / 1728) * 100vw) 0;
}

.card-tags {
    font-size: calc((15 / 1728) * 100vw);
    font-weight: 300;
    color: #566365;
    margin: 0;

    white-space: nowrap;
}

.overview-container:hover .project-card {
    opacity: 0.4;
    filter: grayscale(0.2);
}

.overview-container .project-card:hover {
    opacity: 1;
    filter: grayscale(0);
    
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.2));
}



.footer-section {
    width: 100%;
    background-color: #FCFFFF;
    padding: calc((200 / 1728) * 100vw) 0 0 0;

    overflow: hidden; 
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    
    box-sizing: border-box;
    padding: 0 calc((100 / 1728) * 100vw);
    position: relative;
}

.footer-left-bg {
    flex: 1;
    position: relative;
    height: calc((514 / 1728) * 100vw);
}

.logo-bitmap {
    position: absolute;
    
    bottom: calc((-75 / 1728) * 100vw);
    left: calc((-185 / 1728) * 100vw);
    
    width: calc((1195 / 1728) * 100vw);
    height: auto;
    display: block;
}

.footer-right-content {
    display: flex;
    flex-direction: column;
    gap: calc((60 / 1728) * 100vw); 
}

.info-group {
    display: flex;
    flex-direction: column;
    gap: calc((30 / 1728) * 100vw);
}

.info-label {
    font-family: "abhaya-libre", sans-serif;
    font-size: calc((24 / 1728) * 100vw);
    font-weight: 400;
    color: #566365;
}

.info-value {
    font-size: calc((18 / 1728) * 100vw);
    font-weight: 400;
    color: #1A2223;
}

.info-link.email-link {
    font-size: calc((18 / 1728) * 100vw);
    font-weight: 400;
    color: #1A2223;
    text-decoration: none;
    width: max-content;
    
    border-bottom: 1px solid rgba(26, 34, 35, 1.0);
    padding-bottom: 2px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.info-link.email-link:hover {
    color: #566365;
    border-bottom: 1px solid rgba(86, 99, 101, 0.4);
}

.social-links-group {
    display: flex;
    gap: calc((60 / 1728) * 100vw);
}

.social-icon-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.social-icon-img {
    width: calc((45 / 1728) * 100vw);
    height: auto;
}




@keyframes openingFadeInUp {
    from {
        opacity: 0;
        margin-top: 40px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}

.bg-large-logo {
    opacity: 0;
    animation: openingFadeInUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 0.6s;

    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
    will-change: transform, opacity;
    
}

.hand-left {
    opacity: 0;
    animation: openingFadeInUp 1.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 0.2s;
    
    transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
    will-change: transform, opacity;
}

.hand-right {
    opacity: 0;
    animation: openingFadeInUp 1.6s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 0.4s;
    
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
    will-change: transform, opacity;
}

.content-box {
    opacity: 0;
    animation: openingFadeInUp 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 0.7s;

    transition: opacity 0.4s ease, transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    will-change: transform, opacity;
}

.header {
    opacity: 0;

    animation: headerFadeInDown 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 1s;
}

@keyframes headerFadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




.scroll-fade,
.profile-shadow,
.profile-img,
.project-card-brand,
.project-card-visual,
.project-card-digital {
    opacity: 0;
    
    transition: opacity 0.8s cubic-bezier(0.25, 1, 0.5, 1), 
                transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
                
    will-change: transform, opacity; 
}

.scroll-fade.is-visible,
.profile-shadow.is-visible,
.profile-img.is-visible,
.project-card-brand.is-visible,
.project-card-visual.is-visible,
.project-card-digital.is-visible {
    opacity: calc(1 - (var(--scroll-progress) * (var(--scroll-progress) * 2)));
}

.content-box {
    transform: translateY(clamp(-105px, calc(var(--scroll-progress, 0) * 300px), 150px));
}
.hand-left {
    transform: translateY(clamp(50px, calc(var(--scroll-progress, 0) * 300px), 150px));
}
.hand-right {
    transform: translateY((clamp(-105px, calc(var(--scroll-progress, 0) * 300px), 150px));
}
.bg-large-logo {
    transform: translateY((clamp(-105px, calc(var(--scroll-progress, 0) * 300px), 150px));
}
    

.profile-title {
    transform: translateY(calc(var(--scroll-progress, 0) * 150px));
}
.roulette-wrapper {
    transform: translateY(calc(var(--scroll-progress, 0) * 150px));
}
.profile-description {
    transform: translateY(calc(var(--scroll-progress, 0) * 100px));
}
.profile-img {
    transform: translateY(calc(var(--scroll-progress, 0) * 140px));
}
.profile-shadow {
    transform: translateY(calc(var(--scroll-progress, 0) * 70px));
}


.project-card-brand {
    transform: translateY(calc(var(--scroll-progress, 0) * 30px));
}

.project-card-visual {
    transform: translateY(calc(var(--scroll-progress, 0) * 60px));
}

.project-card-digital {
    transform: translateY(calc(var(--scroll-progress, 0) * 90px));
}




@media screen and (max-width: 1024px) {
    
    .header {
        padding: 30px 30px;
    }
    
    .logo-top img {
        height: 24px;
    }
    
    .nav-menu {
        gap: 25px;
    }
    
    .nav-item {
        font-size: 16px;
    }


    .hero-container {
        height: calc((1080 / 1728) * 100vw);
        min-height: 40vh;
        padding: 55px 30px;
        margin: 0 0 20px 0;

        overflow: hidden;
    }

    .hand-left {
        width: 60%;
        top: 50%;
        left: -10%;
        rotate: -2deg;
    }

    .hand-right {
        width: 60%;
        top: 30%;
        right: -12%;
        rotate: -6deg;
    }
    

    .content-box {
        bottom: 0%;
        left: 45px;
        right: 45px;
    }

    .main-title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .sub-description {
        font-size: 12px;
        line-height: 1.5;
    }

    .bg-large-logo {
        width: 55%;
        top: 75%;
        right: -3%;
    }
}


@media screen and (max-width: 600px) {
    .hand-left {
        width: 65%;
        top: 50%;
        left: -15%;
        rotate: -4deg;
    }
    
    .hand-right {
        width: 65%;
        top: 30%;
        right: -15%;
        rotate: -5deg;
    }
    
    .content-box {
        bottom: 0%;
        left: 40px;
        right: 40px;
    }

     .bg-large-logo {
        width: 55%;
        top: 70%;
        right: -3%;
    }
}
