html {
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
}

body {
    &::-webkit-scrollbar {
        display: none;
    }
    
    font-family: "ds-endendend", sans-serif;
    color: #333;
    background-color: #FCFFFF;
    overflow-x: hidden;
}


/* 헤더 */
    .header {
        background: linear-gradient(to bottom, #FCFFFF 20%);
        
        position: fixed;
        
        top: 0;
        left: 0;
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 60px 60px;
        box-sizing: border-box;
        
        z-index: 10;
    }
    
    .logo-top a {
        display: inline-block;
        width: 100%;
        height: auto;
    }
    
    .logo-top img {
        display: block;
        height: 35px;
        width: auto;
    }
    
    .nav-menu {
        display: flex;
        gap: 60px;
        flex-shrink: 0;
    }
    
    .nav-item {
        text-decoration: none;
        color: #1A2223;
        
        font-family: "abhaya-libre", sans-serif;
        font-weight: 700;
        font-style: normal;    
        font-size: 20px;
        
        transition: opacity 0.3s ease;
    }
    
    .nav-item:hover {
        opacity: 0.5;
    }
    
    
    
    @keyframes openingFadeInUp {
        from {
            opacity: 0;
            margin-top: 40px;
        }
        to {
            opacity: 1;
            margin-top: 0;
        }
    }
    
    .header {
        opacity: 0;
    
        animation: headerFadeInDown 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
        animation-delay: 1s;
    }


    @keyframes headerFadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }



/* 타이틀 */
    .title-container {
        position: relative;
      
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        
        width: 100%;
        height: 100%;
        
        padding: calc((200 / 1728) * 100vw) calc((100 / 1728) * 100vw) calc((100 / 1728) * 100vw);
        margin: 100px 0 0 0;

        overflow: hidden;
        user-select: none;
    }   

              .project-title { 
                  font-family: "abhaya-libre", sans-serif;
                  font-size: clamp(50px, calc((100 / 1728) * 100vw), 100px);
                  font-weight: 700;
                  font-style: normal;
                  line-height: 0.8;
                  
                  color: #1A2223;
                    
                  margin: 0 0 calc((30 / 1080) * 100vh) 0;
              }
                
              .sub-description {
                  font-size: clamp(11px, calc((14 / 1728) * 100vw), 14px);   
                  font-weight: 100;
                  font-style: normal;
                  line-height: 2;
                  color: #1A2223;

                  text-align: justify;
                  text-justify: inter-word;

                  width: calc((857 / 1728) * 100vw);
                  margin: 0;
              }

        .tag-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
    
            gap: calc((120 / 1728) * 100vw);
        }
    
              .category-item {
                  text-decoration: none;
                  
                  display: grid;
                  align-items: center;
                  width: 35%;
                      
                  font-family: "abhaya-libre", sans-serif;
                  font-size: clamp(20px, calc((24 / 1728) * 100vw), 24px);
                  font-weight: 700;
                  font-style: normal;
                  line-height: 0.9;
                      
                  color: #566365;
              }

                      .category-item .category-text {
                          grid-column: 2;
                          text-align: center;
                          padding: 0;
                      }
                    
                      .category-item .bracket-left {
                          grid-column: 1;
                          text-align: left;
                      }
                    
                      .category-item .bracket-right {
                          grid-column: 3;
                          text-align: right;
                      }
          
             .project-tags {
                  display: flex;
                  justify-content: flex-start;
                  flex-direction: row;
                              
                  gap: calc((20 / 1728) * 100vw);
                  max-width: 360px;
              }
                  
              .project-tags .tag-item {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                              
                  text-decoration: none;
                              
                  font-size: clamp(10px, calc((13 / 1728) * 100vw), 13px);   
                  font-weight: 400;
                  font-style: normal;
                  color: #AAB9BB;
                  
                  border: 1.5px solid #AAB9BB;
                              
                  padding: calc((5 / 1728) * 100vw) calc((20 / 1728) * 100vw);
                  border-radius: 20px;
                  
                  background-color: transparent; /* 배경은 투명하게 */
                  white-space: nowrap;
              }



/* 갤러리 */
    .application-container {
        position: relative;
      
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        width: 100%;
        height: 100%;
        
        padding: 0 calc((100 / 1728) * 100vw);
        gap: calc((200 / 1728) * 100vw);

        overflow: hidden;
        user-select: none;
    }
        
        /* 갤러리 이미지들*/
            .wide-img {
                width: calc((1528 / 1728) * 100vw);
                display: block;

                background-color: #FFFDFB;
            }

            .application-row {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }                 

                .narrow-img {
                        width: calc((690 / 1728) * 100vw);
                        display: block;

                        background-color: #FFFDFB;
                    }


/* 푸더 */
    .footer-section {
        width: 100%;
        background-color: #FCFFFF;
    
        overflow: hidden; 
        position: relative;
    }
    
            .footer-container {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                
                box-sizing: border-box;
                padding: calc((410 / 1728) * 100vw) calc((100 / 1728) * 100vw) 0;
                position: relative;
            }
            
                .footer-left-bg {
                    flex: 1;
                    position: relative;
                    height: calc((514 / 1728) * 100vw);
                }
                
                .logo-bitmap {
                    position: absolute;
                    
                    bottom: calc((-75 / 1728) * 100vw);
                    left: calc((-185 / 1728) * 100vw);
                    
                    width: calc((1195 / 1728) * 100vw);
                    height: auto;
                    display: block;
                }
                
                .footer-right-content {
                    display: flex;
                    flex-direction: column;
                    gap: calc((60 / 1728) * 100vw); 
                }
                
                .info-group {
                    display: flex;
                    flex-direction: column;
                    gap: calc((30 / 1728) * 100vw);
                }
                
                .info-label {
                    font-family: "abhaya-libre", sans-serif;
                    font-size: calc((24 / 1728) * 100vw);
                    font-weight: 400;
                    color: #566365;
                }
                
                .info-value {
                    font-size: calc((18 / 1728) * 100vw);
                    font-weight: 400;
                    color: #1A2223;
                }
                
                .info-link.email-link {
                    font-size: calc((18 / 1728) * 100vw);
                    font-weight: 400;
                    color: #1A2223;
                    text-decoration: none;
                    width: max-content;
                    
                    border-bottom: 1px solid rgba(26, 34, 35, 1.0);
                    padding-bottom: 2px;
                    transition: color 0.3s ease, border-color 0.3s ease;
                }
                
                .info-link.email-link:hover {
                    color: #566365;
                    border-bottom: 1px solid rgba(86, 99, 101, 0.4);
                }
                
                .social-links-group {
                    display: flex;
                    gap: calc((60 / 1728) * 100vw);
                }
                
                .social-icon-btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .social-icon-img {
                    width: calc((45 / 1728) * 100vw);
                    height: auto;
            }
